*{
    margin: 0;
}
canvas{
    background-color: #e9e5de;
    border-radius: 10%;
}
body{
    width: 70%;
}
.tool-bar{
    margin :10px;
    background-color: wheat;
    height: 4rem;
    display: flex;
}
.tool-bar img{
    height: 80%;
    margin: 10%;
}

.bh #black1{
    margin-left: 30px;
    height: 30%;
    align-content: bottom;
    margin-top: 25px;

}
.bh #black2{
    height: 40%;
    align-content: bottom;
    margin-top: 19px;

}
.bh #black3{
    height: 60%;
    align-content: bottom;
    margin-top: 13px;
}
.bh #colorpicker{
    margin-left: 30px;
    height: 60%;
    align-content: bottom;
    margin-top: 13px;
}
.bh #colorpicker2{
    margin-left: 30px;
    height: 60%;
    align-content: bottom;
    margin-top: 13px;
}

